.container {
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation-name: myanime;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-out;
}

@keyframes myanime {
    /* from {
        width: 200px;
    }

    to {
        height: 300px;

    } */

    0% {
        width: 300px;
    }

    25% {
        height: 200px;
    }

    75% {
        width: 200px;
    }

    100% {
        width: 400px;
        height: 400px;
    }
}