:root {
    --primary-color: rgba(34, 202, 34, 0.84);
    --secondary-color: #2e84db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow-x: hidden; */
}

/* flexbox */

nav {
    display: flex; /* this property do align horizontally to the elements */
    justify-content: space-between;
    /* background-color: aqua; */

}

/* units in css
px em rem %

*/

h2 {
    /* margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */

    /* margin: 10px 10px 10px 10px; */
    /* margin: 20px 20px 20px 20px; -> it will reflect in the web id again margin will use */

    /*margin: 10px 10px;  first value -> from top and bottom  2nd value-> from left and right*/

    margin: 10px;

    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */

    /* padding: 10px 10px 10px 10px; */

    padding: 10px;
    cursor: pointer;
    color: tomato;

    /* background-color: lightblue; */

}

.navbar-right-menu {
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* background-color: rgb(164, 13, 13); */
}

.navbar-link {
    /* color: white; */
    margin-right: 10px;
    cursor: pointer;
    /* text-decoration: none; */
 }

a {
    text-decoration: none;
    color: #2e84db;
}


/* :hover => pseudo selector */
 .navbar-link:hover {
    color: tomato;
 }

/* 
colors in css

Hex => #ffffff
RGB => rgb(red, green, blue)
RGBA => rgba(red, green, blue, alpha)
# alpha -> opacity
HSL => Hue saturation lightness hsl()

*/

#home-link {
    /* margin-right: 10px; */
    /* color: rgba(34, 202, 34, 0.84); */
    color: var(--primary-color);
    /* padding: 10px; */
    /* background-color: blue; */
}

#home-link:hover {
    color: var(--secondary-color);
}

.caraousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caraousel-container > h1 {
    color: tomato;
    /* margin: 20px 0 0 0; */
    margin-top: 20px;
}

.caraousel-img {
    width: 80%;
    height: 60vh;
    /* margin: 10px 0; */
}

.product-heading {
    text-align: center;
    margin-top: 20px;
}

.parent-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical align */
    align-items: center; /* horizontal align */
    gap: 10px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    position: relative;
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card-name {
    font-size: 20px;
    font-weight: bold;
}

.card-price {
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 3px;
}

.service-img {
    width: 300px;
    height: 400px;
}

#service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    /* background-color: aqua; */
}

.left-service {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    /* background-color: blueviolet; */

}

.service-btn {
    width: 30%;
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px 0;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 10px 2px rgb(247, 74, 6)

}